@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  /* height:20000px */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* line in Footer */
.line {
  position: relative;
}
.line::after,
.line::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: #777575;
}
.line::after {
  left: 0;
  width: 100%;
  border-top: thin solid rgba(0, 0, 0, 0.12);
}
.line::before {
  right: 0;
}
@media (max-width: 600px) {
  .line::after,
  .line::before {
    content: none;
  }
}

/* landing */
.landing-slider {
  background-image: url("./assets/home/nuts-2.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}


.slick-list {
  margin: 0  12px;
}
.slick-slide > div {
  padding: 0 12px;
}

.slick-next {
  right:30px !important;
  width: 51px !important;
  height: 62px !important;
  background-color: red;
  color:red;
  /* background-image: url('./assets/product/arrow-next.png'); */
  /* background-image: url('./assets/product/arrow-next.png'); */
}
.slick-next::before {
  display: none;
}

.slick-dots li.slick-active button::before {
  opacity: .75;
    color: black;
    content: "";
    width: 24px;
    height: 8px;
    background: #6E2E02;
    margin-top: 5px;
    /* line-height: 36px; */
    border-radius: 5px;
}

.slick-slide img {
  display: inline !important;
}






